COMPOSE_PROJECT_NAME=siem-pipeline

KAFKA_IMAGE=apache/kafka:4.1.2
ELASTICSEARCH_IMAGE=docker.elastic.co/elasticsearch/elasticsearch:8.17.3
KIBANA_IMAGE=docker.elastic.co/kibana/kibana:8.17.3
FLINK_BASE_IMAGE=flink:1.19.2-scala_2.12-java17
MINIO_IMAGE=minio/minio:RELEASE.2025-04-22T22-12-26Z
MINIO_MC_IMAGE=minio/mc:RELEASE.2025-04-16T18-13-26Z
ICEBERG_REST_IMAGE=apache/iceberg-rest-fixture:1.10.1

FLINK_SQL_KAFKA_CONNECTOR_VERSION=3.2.0-1.19
ICEBERG_VERSION=1.10.1
ICEBERG_FLINK_RUNTIME_VERSION=1.19
HADOOP_VERSION=3.4.2

KAFKA_EXTERNAL_PORT=9092
FLINK_UI_PORT=8081
ELASTICSEARCH_PORT=9200
KIBANA_PORT=5601
KAFKA_CONNECT_PORT=8083
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
ICEBERG_REST_PORT=8181

KAFKA_BOOTSTRAP_SERVERS_HOST=localhost:9092
KAFKA_BOOTSTRAP_SERVERS_INTERNAL=kafka:29092
KAFKA_SCAN_STARTUP_MODE=earliest-offset
KAFKA_COLD_PATH_GROUP_ID_ZEEK=flink-cold-zeek
KAFKA_COLD_PATH_GROUP_ID_SNORT=flink-cold-snort

FLINK_PARALLELISM=1
FLINK_TASK_SLOTS=4
FLINK_CHECKPOINT_INTERVAL=30s

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
MINIO_REGION=us-east-1
MINIO_WAREHOUSE_BUCKET=warehouse
S3_ENDPOINT_HOST=http://localhost:9000
S3_ENDPOINT_INTERNAL=http://minio:9000
ICEBERG_WAREHOUSE=s3://warehouse/

ICEBERG_CATALOG_NAME=siem_iceberg
ICEBERG_NAMESPACE=siem
ICEBERG_TABLE=normalized_events
ICEBERG_REST_URI_HOST=http://localhost:8181
ICEBERG_REST_URI_INTERNAL=http://iceberg-rest:8181
ICEBERG_CATALOG_IMPL=org.apache.iceberg.jdbc.JdbcCatalog
ICEBERG_CATALOG_JDBC_URI=jdbc:sqlite:/tmp/iceberg_catalog.db
ICEBERG_CATALOG_JDBC_USER=user
ICEBERG_CATALOG_JDBC_PASSWORD=password
ICEBERG_CATALOG_JDBC_STRICT_MODE=true
